//
	Created by cepharum on 08.10.2014.

extends lib/page

block content
	:markdown
		# Welcome!

		This is web user interface of **scrippted**, an IPP service implemented using
		scripting language *Javascript*.
